* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.sidebar-link {
    display: block;
    padding: 12px 14px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 6px;
    transition: 0.2s;
}

.sidebar-link:hover {
    background: #d4af37;
    color: #07152B;
}